@import-normalize;
@import "recipe-list.css";
@import "font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #c3e6f3;
}
*, *::before, *::after {
    font-family: IndieFlower, sans-serif;
}
h3{
    font-size:3rem;
}
span{
    font-size:2rem;
}